
        /* Optional: Makes the sample page fill the window. */
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #circleDraw {
            position: fixed;
            border-radius: 50%;
            top: 800px;
            bottom: 0;
            left: 0;
            right: 0;
            width: 76px;
            height: 76px;
            margin: auto;
            background: #F8F8F8;
            shape-outside: circle();
            box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.17);
            /*box-shadow: 0px 0px 0px 4px #000000;
            animation-name: scaleDown;
            animation-duration: 2s;
            transition-timing-function: cubic-bezier(.95,.03,.98,.97);
            */
        }

        #roundedRect {
            position: fixed;
            top: 0;
            bottom: 700px;
            left: 0;
            right: 0;
            width: 411px;
            height: 225px;
            margin: auto;
            background: #FFFFFF;
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
            border-radius: 18px;
            animation-name: flyInTop;
            animation-duration: 1s;
            transition-timing-function: cubic-bezier(.02,.97,.06,.97)
            ;
        }
        .center {
            position: relative;
            top: 100;
            bottom: 100;
            left: 100;
            right: 100;
            margin: auto;
        }

        @keyframes flyInTop {
            from {
                bottom: 1300px;
            }

            to {
                bottom: 700px;
            }
        }
        @keyframes flyInBot {
            from {
                top: 1300px;
            }

            to {
                top: 800px;
            }
        }
        @keyframes scaleDown{
            from {width: 7600px;
                height: 7600px;
            }
            to {
                width: 76px;
                height: 76px;
            }
        }